
* {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.header {
  display: flex;
  background-color: rgb(77,162,161);
}
.header > .title {
  padding: 10px;
  flex: 0 0 100%;
}
.header > .nav_bar {
  background-color: rgb(90,149,217);
  padding: 20px;
  flex: 0 0 100%;
  display: inline-flex;
  justify-content: center;
}
.header > .nav_bar > .nav_wrapper {
  border: white 1px solid;
  color: white;
  
  flex: 0 0 50%;
  display: inline-flex;
  justify-self: flex-end;
  align-self: center;
}
.header > .nav_bar > .nav_wrapper > p {
  margin-right: auto;
  border: none;
}
.header > .nav_bar > .nav_wrapper > nav {
  border: white 1px solid;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_head {
  display: inline-flex;
  flex: 0 0 100%;
  
  justify-content: center;
  align-items: center;

  padding: 20px;
  background-color: rgb(215,233,254);
}
.content_head > img {
  padding: 80px;
}
.content_head > nav {
  padding-bottom: 10px;

  display: inline-flex;
  flex: 0 0 75%;
  justify-content: space-between;
}
 /* 
  3 2 5
  1 4
 */
.image_grid{
  width: 1000px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.image_grid > .image_1 {
  order: 1;
}
.image_grid > .image_5 {
  order: -1;
}

.footer {
  display: inline-flex;
  flex: 0 0 100%;

  background-color: rgb(77,162,161);

}
.footer > div{
  background-color: rgb(90,149,217);
}
.footer > .item2{
  background-color: rgb(215,233,254);
}