.grid {
    width: 200px;
    height: 400px;
    
    display: flex;
    flex-wrap: wrap;

    background-color: white;
    border: 1px solid black;
}

.grid > div {
    width: 20px;
    height: 20px;
    
    border: 1px solid gray;
}

.tetromino {
    background-color: red;
}