
.header{
    margin-top: 30px;
    text-align: center;
}

.content-wrapper{
    margin-top: 30px;
    padding: 20px;
}
.form-container {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;

    max-width: 350px;
}
.form-container > form {
    margin: 20px;
}
.form-response {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;

    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .content-wrapper{
        display: inline-flex;
        flex-direction: column;
    }
}
  